name: ci-casper-rust-contract

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

jobs:
  ci-smart-contract:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: rustfmt, clippy
      # Needed for gcc install
      - run: sudo apt update && sudo apt install -y build-essential wabt
      - uses: Swatinem/rust-cache@v1
      - run: make prepare
      - run: make check-lint
      - run: make test
  ci-js-client:
    needs: ci-smart-contract
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [16.x]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@5b949b50c3461bbcd5a540b150c368278160234a #v3.4.0
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"

      - name: Install
        working-directory: ./client-js
        run: npm install

      - name: test
        working-directory: ./client-js
        run: npm run test:unit
